---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPost from "../layouts/BlogPost.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const title = "私のAstro学習ブログ";
---
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <Header />

    <h1>{title}</h1>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
      {allPosts.map((post) => (
        <BlogPost title={post.frontmatter.title} url={post.url} />
      ))}
    </ul>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>