---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<footer>
  <p>私のプロジェクトについて詳しくは<Social platform={platform} username={username} />をご確認ください！</p>
</footer>